{% extends 'base.html.twig' %}

{% block title %}New ShoppingList{% endblock %}

{% block body %}
    <h1>Create new ShoppingList</h1>

    {{ include('admin/shopping_list/shopping_list/_form.html.twig') }}

    <a href="{{ path('app_admin_shopping_list_shopping_list_index') }}">back to list</a>
{% endblock %}
