{% extends 'base.html.twig' %}

{% block title %}Edit ShoppingListItem{% endblock %}

{% block body %}
    <h1>Edit ShoppingListItem</h1>

    {{ include('admin/shopping_list/shopping_list_item/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
